@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat&family=Noto+Sans:ital,wght@0,900;1,400&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu&display=swap');

*
{
    margin:0;
    padding:0;
}
:root
{
    /* site colors */
    --p-color: #55afaf;
    --p-color-dark:#244747;
    --s-color: #191919;
    --t-color: #313131;
    --bg-color:#000000;

    /**/

    /**/

    /**/
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
    gap:4px;
    background: var(--bg-color);
    padding:20px 20px 20px 30px;
    position:sticky;
    z-index:100;
}
    header .left
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:40px;
        
        background-color: var(--bg-color);
    }
        header .menu
        {
            height:45px;
            width: 45px;
            border-radius: 12px;
            border: 2px solid var(--p-color);
            display:flex;
            justify-content: center;
            align-items: center;
        }
            .icon-menu {
                --gap: 5px;
                --height-bar: 4px;
                --pos-y-bar-one: 0;
                --pos-y-bar-three: 0;
                --scale-bar: 1;
                --rotate-bar-one: 0;
                --rotate-bar-three: 0;
                
                width: 36px;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                gap: var(--gap);
                cursor: pointer;
                position: relative;
            }
                .bar 
                {
                    position: relative;
                    height: var(--height-bar);
                    width: 75%;
                    border-radius: .5rem;
                    background-color: #ffffff;
         
                }
                    .bar--1 
                    {
                        top: var(--pos-y-bar-one);
                        transform: rotate(var(--rotate-bar-one));
                        transition: top 200ms 100ms, transform 100ms;
                    }
                    .bar--2 
                    {
                   
                        transform: scaleX(var(--scale-bar));
                        transition: transform 150ms 100ms;
                    }
                    .bar--3 
                    {
                 
                        bottom: var(--pos-y-bar-three);
                        transform: rotate(var(--rotate-bar-three));
                        transition: bottom 200ms 100ms, transform 100ms;
                    }
                        .check-icon:checked + .icon-menu > .bar--1 
                        {
                            transition: top 200ms, transform 200ms 100ms;
                       
                        }
                        .check-icon:checked + .icon-menu > .bar--3 
                        {
                            transition: bottom 200ms, transform 200ms 100ms;
                        
                        }
                        .check-icon:checked + .icon-menu 
                        {
                            --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
                            --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
                            --scale-bar: 0;
                            --rotate-bar-one: 45deg;
                            --rotate-bar-three: -45deg;
                    
                        }
        header .logo
        {
            transition: transform 80ms ease-in;
        }
            header .logo:active
            {
                transform: scale(.95);
            }
        header .links
        {
            display:flex;
            justify-content:space-between;
            padding: 0 30px 0 10px;
            gap:40px;
            
        }
            header .links a
            {
                text-decoration: none;
                color: #ffffff;
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 900;
                transition: transform 80ms ease-in;
                padding-right: 15px;
            }
                header .links a:active
                {
                    transform: scale(.95);
                }
    header .right
    {
        display:flex;
        flex-direction: row;
        gap:20px;
        z-index:100;
    }
        header .right .search-bar
        {
            display:flex;
            align-items: center;
            justify-content: center;
        }
            .container-input {
                position: relative;
            }
                
                .input {
                    width: 250px;
                    padding: 15px 0px 15px 40px;
                    border-radius: 9999px;
                    border: solid 0px #333;
                    transition: all .2s ease-in-out;
                    outline: none;
                    opacity: 0.8;
                    background-color: #1b1b1b;
                    color:#ffffff;
                    font-family:'Inter';
                    font-size: 18px;
                }
                
                    .container-input svg {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translate(0, -50%);
                        height: max-content;  
                    }
                    
                        .input:focus {
                            opacity: 1;
                            width: 350px;
                        }
        header .right .lang
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding:7px;
            transition: transform 120ms ease-in;
            transition: border 120ms ease-in;
            border: none;
            background-color: none;
            border-radius:50%;
            height: 33px;
            width: 33px;

        }
            header .right .lang i
            {
                font-size: 24px;
            }
            header .right .lang:hover
            {
                border: #ffffff solid 2px;
                background-color: #c2c2c221;
                cursor: pointer;
            }
            header .right .lang:active{
                transform: scale(.95);
            }
        header .right .download
        {
            background:var(--bg-color);
            border:var(--p-color) solid 2px;
            border-radius: 12px;
            color:#ffffff;
            padding:10px;
            font-family: 'Inter';
            font-weight: 900;
            font-size: 18px;
            transition: transform 80ms ease-in;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:10px;
        }
            header .right .download i
            {
                font-size: 24px;
            }
            header .right .download:active{
                transform: scale(.95);
            }
            header .right .download:hover
            {
                cursor: pointer;
            }
.menu-aside
{
    position:absolute;
    width:18vw;
    height: 66.85rem;
    background-color: var(--s-color);
    z-index:11;
}        
.inicio
{
    position: relative;
    display: flex;
    z-index:2;
}
    .guara-gif
    {
        width:100%;
        height: 100%;
    }
    .watch
    {
        height:100%;
        width:100%;
        position:absolute;
        bottom: 0;
        display:flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        z-index: 20;
    }
        .watch button
        {
            background:#ffffff;
            border:none;
            border-radius: 12px;
            color:var(--bg-color);
            padding:10px;
            font-family: 'Inter';
            font-weight: 900;
            font-size: 40px;
            transition: transform 80ms ease-in;
            margin: 0 0px -700px 140px;
            position:absolute;
            z-index:2;
        }
            .watch button:active
            {
                transform: scale(.95);
            }
            .watch button:hover
            {
                cursor: pointer;
            }
        .trailer
        {
            width:100%;
            height:100%;
            z-index: -1;
            position: absolute;
        }
        .about-text
        {
            height:12.5rem;
            background: linear-gradient(var(--p-color-dark) 10%, var(--bg-color));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:50px;
            text-justify: inter-cluster;
        }
            .about-text h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index:10;
                
            }
                .about-text p
                {
                    color: #ffffff;
                    font-family: 'Monstserrat', sans-serif ;
                    font-weight: 600;
                    font-size: 18px;
                    text-align: justify;
                    text-justify: distribute;
                    padding: 0 50px;
                    z-index:10;
                }
                .about-text p strong
                {
                    color:var(--p-color);
                }
        .news
        {
            height:30rem;
            background-image: url('/assets/EOR-imagens/morto-bunker.png') ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .news h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index: 10;
            }
        .about-world
        {
            height:30rem;
            background-image: url('/assets/EOR-imagens/exploracao.png') ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .about-world h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index: 10;
            }
        .about-game
        {
            height:30rem;
            background-image: url('/assets/EOR-imagens/robos.png');
            background-repeat: no-repeat;
            background-position: baseline;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .about-game h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index: 10;
            }
        .more
        {
            padding: 1.3em 3em;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #ffffff;
            background-color: transparent;
            border: var(--p-color) 2px solid;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            z-index: 10;
        }

        .more:hover
        {
            background-color: var(--p-color);
            box-shadow: 0px 15px 20px #47678f62;
            color: #fff;
            transform: translateY(-7px);
        }
        .more:active
        {
            transform: translateY(-1px); 
        }

footer
{
    height:37rem;
    background: #191919;
}
    .footer-divider
    {
        background: #313131;
        height:6.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
        .footer-divider h3
        {
            font-family: 'Inter';
            font-size: 24px;
            color: #ffffff;
        }
        .footer-divider .socials
        {
            display: flex;
            gap:30px;
        }
            .footer-divider .socials a .bx
            {
                font-size:40px;
            }
    .footer-content
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 80px 0 0 0;
    }
        .footer-content section p
        {
            color:#ffffff;
            font-family: 'Space Grotesk' ;
        }
        .footer-content .logo-S
        {
            height:150px;
            opacity: 20%;
            transition: opacity 120ms ease-in-out;
            margin: 20px 0 0 0;
        }
            .footer-content .logo-S:hover
            {
                opacity: 60%;
            }
        .footer-content .politics
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap:80px;
            margin: 20px 0 40px 0;
        }
            .footer-content .politics a
            {
                text-decoration: none;
                font-size: 17px;
                letter-spacing: 2px;
                font-weight: 600;
                font-family: 'Inter';
                color: #ffffff;
            }
        .footer-content .age img
        {
            height:100px;
            opacity:95%
        }
    