@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat&family=Noto+Sans:ital,wght@0,900;1,400&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu&display=swap');

*
{
    margin:0;
    padding:0;
}
:root
{
    /* site colors */
    --p-color: #55afaf;
    --p-color-mid:#007a70;
    --p-color-dark:#244747;
    --p-color-shadow:#55afafab;

    --s-color: #191919;

    --t-color: #313131;

    --bg-color:#000000;

    /*search bar position*/
    --o-posit-x:-100px;
    /**/

    /**/
}
/*=================================================================================================================
=====================================================HEADER INDEX==================================================
===================================================================================================================*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
    gap:4px;
    background: var(--bg-color);
    padding:20px 20px 20px 30px;
    position:sticky;
    z-index:100;
}
    header .left
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:40px;
        
        background-color: var(--bg-color);
    }
        header .logo
        {
            transition: transform 80ms ease-in;
        }
            header .logo:active
            {
                transform: scale(.95);
            }
        header .links
        {
            display:flex;
            justify-content:space-between;
            padding: 0 30px 0 10px;
            gap:40px;
            
        }
            header .links a
            {
                text-decoration: none;
                color: #ffffff;
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 900;
                transition: transform 80ms ease-in;
                padding-right: 15px;
            }
                header .links a:active
                {
                    transform: scale(.95);
                }
    header .right
    {
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:20px;
        z-index:100;
    }
/*=================================================================================================================
====================================================== SEARCH =====================================================
===================================================================================================================*/
        header .right .search-bar
        {
            display:flex;
            align-items: center;
            justify-content: center;
            margin-right:-81px;
        }
            .container-input 
            {
                position: relative;
            }
                .input 
                {
                    width: 150px;
                    padding: 15px 0px 15px 40px;
                    border-radius: 9999px;
                    border: solid 0px #333;
                    transition: all .2s ease-in-out;
                    outline: none;
                    opacity: 0.8;
                    background-color: #1b1b1b;
                    color:#ffffff;
                    font-family:'Inter';
                    font-size: 18px;
                    transform: translateX(var(--o-posit-x));
                }
                    .container-input svg 
                    {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translate(0, -50%);
                        height: max-content;  
                        transform: translateX(var(--o-posit-x)) translateY(-10px);
                    }
                        .input:focus 
                        {
                            opacity: 1;
                            width: 250px;
                        }
/*=================================================================================================================
===================================================== LANG ========================================================
===================================================================================================================*/
                        
        
    header .right .lang .dropDownButton
    {
        right:10px;
        border: 2px solid white;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        background-color: #000000;
        position: relative;
    }
    #iconLang
    {
        font-size: 18px;
    }
    .dropDownButton:hover
    {
        background-color: var(--p-color)!important;
    }
    .lang 
    {
        position: relative;
        display: inline-block;
    }
    .idiomas 
    {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px var(--p-color-shadow);
        z-index: 1;
        border-radius: 5%;
    }
    .idiomas button 
    {
        color: white;
        background-color: #000000;
        border: none;
        text-decoration: none;
        padding:5px 0px;
        display: flex;
        gap:7px;
        align-items: center;
        justify-content: center;
    }
    .idiomas button:hover 
    {
        background-color: var(--p-color-mid);
    }
    .showIdiomas 
    {
        display:flex;
        flex-direction: column;
        border-radius: 5%;
        padding: 10px;
    }

      
    header .right .lang .idiomas .idioma img
    {
        height:15px;
        width:24px;
    }
    header .right .lang h3
    {
        color: #ffffff;
    }
    header .right .lang p
    {
        color:#ffffff;
    }
                
    header .right .download
    {
        background:var(--bg-color);
        border:var(--p-color) solid 2px;
        border-radius: 12px;
        color:#ffffff;
        padding:10px;
        font-family: 'Inter';
        font-weight: 900;
        font-size: 18px;
        transition: transform 80ms ease-in;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
    }
        header .right .download i
        {
            font-size: 24px;
        }
        header .right .download:active{
            transform: scale(.95);
        }
        header .right .download:hover
        {
            cursor: pointer;
        }
/*=================================================================================================================
===================================================== MENU ========================================================
===================================================================================================================*/
.menu
        {
            height:45px;
            width: 45px;
            border-radius: 12px;
            border: 2px solid var(--p-color);
            display:flex;
            justify-content: center;
            align-items: center;
        }
            .icon-menu {
                --gap: 5px;
                --height-bar: 4px;
                --pos-y-bar-one: 0;
                --pos-y-bar-three: 0;
                --scale-bar: 1;
                --rotate-bar-one: 0;
                --rotate-bar-three: 0;
                
                width: 36px;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                gap: var(--gap);
                cursor: pointer;
                position: relative;
            }
                .bar 
                {
                    position: relative;
                    height: var(--height-bar);
                    width: 75%;
                    border-radius: .5rem;
                    background-color: #ffffff;
         
                }
                    .bar--1 
                    {
                        top: var(--pos-y-bar-one);
                        transform: rotate(var(--rotate-bar-one));
                        transition: top 200ms 100ms, transform 100ms;
                    }
                    .bar--2 
                    {
                   
                        transform: scaleX(var(--scale-bar));
                        transition: transform 150ms 100ms;
                    }
                    .bar--3 
                    {
                 
                        bottom: var(--pos-y-bar-three);
                        transform: rotate(var(--rotate-bar-three));
                        transition: bottom 200ms 100ms, transform 100ms;
                    }
                        .check-icon:checked + .icon-menu > .bar--1 
                        {
                            transition: top 200ms, transform 200ms 100ms;
                       
                        }
                        .check-icon:checked + .icon-menu > .bar--3 
                        {
                            transition: bottom 200ms, transform 200ms 100ms;
                        
                        }
                        .check-icon:checked + .icon-menu 
                        {
                            --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
                            --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
                            --scale-bar: 0;
                            --rotate-bar-one: 45deg;
                            --rotate-bar-three: -45deg;
                        }
/*=================================================================================================================
==================================================== SIDEBAR ======================================================
===================================================================================================================*/
.sidebar
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    min-height: 100vh;
    width: 280px;
    background: var(--bg-color);
    background-size: cover;
    z-index: 100;
    transition: all 0.5s ease;
    position:absolute;
    font-family: 'Inter';
    font-weight: 6 00;
    left:-280px;
}
    .sidebar .nav-links
    {
        height: 100%;
        padding: 30px 0 100px 0;
        overflow: auto;
        
    }
        .sidebar .nav-links::-webkit-scrollbar
        {
            display: none;
        }
        .sidebar .nav-links li
        {
            position: relative;
            list-style: none;
            transition: all 0.4s ease;
        }
            .sidebar .nav-links li:hover
            {
                background: var(--p-color-mid);
            }
            .sidebar .nav-links li .icon-link
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .sidebar .nav-links li i
            {
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                transition: all 0.3s ease;
            }
                .sidebar .nav-links .showMenu .arrow
                {
                    transform: rotate(-180deg);
                }
            .sidebar .nav-links li a
            {
                display: flex;
                align-items: center;
                text-decoration: none;
            }
                .sidebar .nav-links li a .link_name
                {
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;
                    transition: all 0.4s ease;
                }
            
            .sidebar .nav-links li .sub-menu
            {
                padding: 6px 6px 14px 80px;
                margin-top: 0px;
                background: var(--p-color-dark);
                display: none;
            }
                .sidebar .nav-links li .sub-menu li
                {
                    padding: 15px 6px 5px 80px;
                    margin-top: -10px;
                    background: var(--p-color-dark);
                    display: flex;
                    transform: translateX(-85px) translateY(4px);
                }
                .sidebar .nav-links li.showMenu .sub-menu
                {
                    display: block;
                }
                    .sidebar .nav-links li .sub-menu a
                    {
                        color: #fff;
                        font-size: 15px;
                        padding: 5px 0;
                        white-space: nowrap;
                        opacity: 0.6;
                        transition: all 0.3s ease;
                    }
                        .sidebar .nav-links li .sub-menu a:hover
                        {
                            opacity: 1;
                        }
                            .sidebar .nav-links li .sub-menu li a i
                            {
                                
                                transform:translateX(-22px) scale(0.65);
                            }
                    .sidebar .nav-links li .sub-menu.blank
                    {
                        opacity: 1;
                        pointer-events: auto;
                        padding: 3px 20px 6px 16px;
                        opacity: 0;
                        pointer-events: none;
                    }
                        .sidebar .nav-links li:hover .sub-menu.blank
                        {
                            top: 50%;
                            transform: translateY(-50%);
                        }
.sidebar.close
{
    width: 78px;
}
    .sidebar.close .nav-links
    {
        overflow: visible;
    }

        .sidebar.close .nav-links li .icon-link
        {
            display: block
        }

            .sidebar.close .nav-links i.arrow
            {
                display: none;
            }

        .sidebar.close .nav-links li a .link_name
        {
            opacity: 0;
            pointer-events: none;
        }
            
        .sidebar.close .nav-links li .sub-menu
        {
            position: absolute;
            left: 100%;
            top: -10px;
            margin-top: 0;
            padding: 10px 20px;
            border-radius: 0 6px 6px 0;
            opacity: 0;
            display: block;
            pointer-events: none;
            transition: 0s;
        }
            .sidebar.close .nav-links li:hover .sub-menu
            {
                top: 0;
                opacity: 1;
                pointer-events: auto;
                transition: all 0.4s ease;
            }
            .sidebar.close .nav-links li .sub-menu .link_name
            {
                font-size: 18px;
                opacity: 1;
                display: block;
            }


@media (max-width: 400px) 
{
    .sidebar.close.small-screen
    {
        width: 0;
    }

        .sidebar.close.small-screen ~ .home-section
        {
            width: 100%;
            left: 0;
            z-index: 100;
        }
}
/*=================================================================================================================
==================================================== MAIN INDEX ===================================================
===================================================================================================================*/
.inicio
{
    position: relative;
    display: flex;
    z-index:2;
}
    .guara-gif
    {
        width:100%;
        height: 100%;
    }
    .watch
    {
        height:100%;
        width:100%;
        position:absolute;
        bottom: 0;
        display:flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        z-index: 20;
    }
        .watch button
        {
            background:#ffffff;
            border:none;
            border-radius: 12px;
            color:var(--bg-color);
            padding:10px;
            font-family: 'Inter';
            font-weight: 900;
            font-size: 40px;
            transition: transform 80ms ease-in;
            margin: 0 0px -550px 90px;
            position:absolute;
            z-index:2;
        }
            .watch button:active
            {
                transform: scale(.95);
            }
            .watch button:hover
            {
                cursor: pointer;
            }
        .trailer
        {
            width:100%;
            height:100%;
            z-index: -1;
            position: absolute;
        }
        .about-text
        {
            height:12.5rem;
            background: linear-gradient(var(--p-color-dark) 10%, var(--bg-color));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:50px;
            text-justify: inter-cluster;
        }
            .about-text h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index:10;
                
            }
                .about-text p
                {
                    color: #ffffff;
                    font-family: 'Monstserrat', sans-serif ;
                    font-weight: 600;
                    font-size: 18px;
                    text-align: justify;
                    text-justify: distribute;
                    padding: 0 50px;
                    z-index:10;
                }
                .about-text p strong
                {
                    color:var(--p-color);
                }
        .news
        {
            height:30rem;
            background-image: url('/assets/EOR-imagens/morto-bunker.png') ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .news h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index: 10;
            }
        .about-world
        {
            height:30rem;
            background-image: url('/assets/EOR-imagens/exploracao.png') ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .about-world h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index: 10;
            }
        .about-game
        {
            height:30rem;
            background-image: url('/assets/EOR-imagens/robos.png');
            background-repeat: no-repeat;
            background-position: baseline;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .about-game h2
            {
                color:#ffffff;
                font-family: 'Inter';
                font-size: 50px;
                letter-spacing: 5px;
                margin-bottom: 40px;
                z-index: 10;
            }
        .more
        {
            padding: 1.3em 3em;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #ffffff;
            background-color: transparent;
            border: var(--p-color) 2px solid;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            z-index: 10;
        }

        .more:hover
        {
            background-color: var(--p-color);
            box-shadow: 0px 15px 20px #47678f62;
            color: #fff;
            transform: translateY(-7px);
        }
        .more:active
        {
            transform: translateY(-1px); 
        }
/*=================================================================================================================
================================================== FOOTER INDEX ===================================================
===================================================================================================================*/
footer
{
    height:37rem;
    background: #191919;
}
    .footer-divider
    {
        background: #313131;
        height:6.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
        .footer-divider h3
        {
            font-family: 'Inter';
            font-size: 24px;
            color: #ffffff;
        }
        .footer-divider .socials
        {
            display: flex;
            gap:30px;
        }
            .footer-divider .socials a .bx
            {
                font-size:40px;
            }
    .footer-content
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 80px 0 0 0;
    }
        .footer-content section p
        {
            color:#ffffff;
            font-family: 'Space Grotesk' ;
        }
        .footer-content .logo-S
        {
            height:150px;
            opacity: 20%;
            transition: opacity 120ms ease-in-out;
            margin: 20px 0 0 0;
        }
            .footer-content .logo-S:hover
            {
                opacity: 60%;
            }
        .footer-content .politics
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap:80px;
            margin: 20px 0 40px 0;
        }
            .footer-content .politics a
            {
                text-decoration: none;
                font-size: 17px;
                letter-spacing: 2px;
                font-weight: 600;
                font-family: 'Inter';
                color: #ffffff;
            }
        .footer-content .age img
        {
            height:100px;
            opacity:95%
        }
    