*{
    margin:0;
    padding:0;
}

header
{
    display: flex;
    height: 75px;
    width: 100vw;
    gap:4px;
    background-color: #000000;
    
}

main
{
    background:#000000;
}

footer
{
    background: #191919;
}